DJANGO_DEBUG=false
DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=your-ec2-public-ip-or-domain
DJANGO_CSRF_TRUSTED_ORIGINS=http://your-ec2-public-ip-or-domain

DB_NAME=emp_management
DB_USER=postgres
DB_PASSWORD=replace_with_strong_password
DB_HOST=your-rds-endpoint.amazonaws.com
DB_PORT=5432